{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% include 'head/css.html' %}
{% block content %}

<div class="min-h-screen flex flex-row items-center justify-center">
  <div class="w-full max-w-md space-y-8 p-6">


    <!-- Icon container -->
    <div class="absolute top-2 left-2 p-4 flex items-center">
      <img src="/static/icons/cat.png" alt="Your Icon" class="h-8 w-8 hover:animate-shake" id="catIcon">
      <div class="hidden ml-2 text-green-500" id="meowText">
        <!-- Placeholder for dynamic "Meow" text -->
      </div>
    </div>

    <div class="text-center">
      {% comment %} <img class="mx-auto h-10 w-auto" src="/static/icons/learning.svg" alt="Learn Easy Logo"> {% endcomment %}
      <h2 class="mt-6 text-xl font-extralight text-slate-300 select-none">
        Welcome to <span class="font-medium text-lime-400 underline underline-offset-8 ">Learn Easy,</span>
        <p style="padding-top: 10px;">where spaced repetition meets AI</p>
      </h2>
    </div>


    <div class="max-w-md space-y-8 p-6">
      <form action="{% provider_login_url 'github' %}" method="POST">
        {% csrf_token %}
        <button class="group relative w-full flex justify-center py-2 px-4 text-md font-extralight border rounded-full shadow-lime-400 hover:shadow-sm hover:shadow-lime-300 hover:font-light border-teal-700 text-slate-300 hover:bg-clip-text hover:text-transparent hover:bg-gradient-to-r hover:from-lime-300 hover:to-lime-400 hover:border-teal-300 focus:outline-none">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3 transition-transform transform scale-100 group-hover:scale-100">
            <img src="/static/icons/github-mark-white.svg" alt="GitHub logo" class="h-6 w-6">
          </span>
          Login With GitHub
        </button>
      </form>

      <form action="{% provider_login_url 'google' %}" method="POST">
        {% csrf_token %}
        <button class="group relative w-full flex justify-center py-2 px-4 text-md font-extralight border rounded-full shadow-lime-400 hover:shadow-sm hover:shadow-lime-300 hover:font-light border-teal-700 text-slate-300 hover:bg-clip-text hover:text-transparent hover:bg-gradient-to-r hover:from-lime-300 hover:to-lime-400 hover:border-teal-300 focus:outline-none">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3 transition-transform transform scale-100 group-hover:scale-100">
            <img src="/static/icons/google-logo.svg" alt="Google logo" class="h-8 w-8">
          </span>
          Login With Google
        </button>
      </form>
    </div>

  </div>
</div>


{% endblock %}

