{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container mx-8 my-4 font-extralight text-slate-300">
          <form action="{% url 'account_logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="rounded-md shadow-sm py-2 flex items-center justify-center text-sm hover:font-light hover:text-white h-10">
            Logout
            </button>
          </form>
            <div class="bg-white shadow overflow-hidden sm:rounded-lg max-w-md mx-auto my-10 p-6">
                <div class="border-t border-gray-200">
                    <dl>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                Full name
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {{ user.get_full_name }}
                            </dd>
                        </div>
                        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                Email address
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {{ user.email }}
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}
